<!doctype html>

<html>
<head>
	<title>Sound Effects</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">   
</head>

<body>
	<so><p>This is Pointless</p></so>
	<audio id="Chang" src="http://media.soundcloud.com/stream/YqcizwIUtspZ.mp3"></audio>
	<audio id="Nacho" src="http://media.soundcloud.com/stream/AaeuHdvQR86Q.mp3"></audio>
	<audio id="Applause" src="http://media.soundcloud.com/stream/UjlRg0vfd8pv.mp3"></audio>
	<audio id="Scott" src="http://media.soundcloud.com/stream/iHvc7LYZ1N49.mp3"></audio>
	<audio id="Bart" src="http://media.soundcloud.com/stream/ZWCrG96pz32S.mp3"></audio>
	<audio id="Batman" src="http://media.soundcloud.com/stream/ySQFiVgWUEEw.mp3"></audio>
	<audio id="Quagmire" src="http://media.soundcloud.com/stream/Gz5G1MQkVIDm.mp3"></audio>
	<audio id="FinishHim" src="http://media.soundcloud.com/stream/CRibtPI4pA1W.mp3"></audio>
	<audio id="Zelda" src="http://media.soundcloud.com/stream/cJHWEHcaVOnV.mp3"></audio>
	<audio id="Kirk" src="http://media.soundcloud.com/stream/avQoA3DTSQxg.mp3"></audio>

	<audio id="Patrick1" src="http://media.soundcloud.com/stream/6X3uxFEjHCjL.mp3"></audio>
	<audio id="Patrick2" src="http://media.soundcloud.com/stream/6M61ppkEvWcv.mp3"></audio>
	<audio id="Patrick3" src="http://media.soundcloud.com/stream/6TOMo5ockOir.mp3"></audio>
  <audio id="Scott_No" src="http://media.soundcloud.com/stream/OUilc5tVFSh1.mp3"></audio>

    <script>
    W = 0;
    function PatrickFunction() {
    	if (W == 0) {
    		document.getElementById("Patrick1").play();
    		W = 1;
    	} else if (W == 1) {
    		document.getElementById("Patrick2").play();
    		W = 2;
    	} else {
    		document.getElementById("Patrick3").play();
    		W = 0;
    	}
    }
    </script>


<div class="clickable">
  <img class="click" src="http://i.ytimg.com/vi/3SASx_QwY_A/maxresdefault.jpg" onClick="document.getElementById('Chang').play()"></img>
  <img class="click" src="https://c4.staticflickr.com/4/3088/2313556732_13eba22f03.jpg" onClick="document.getElementById('Nacho').play()"></img>
  <img class="click" src="http://holdinholden.com/wp-content/uploads/2015/01/applause.jpg" onClick="document.getElementById('Applause').play()"></img>
  <img class="click" src="http://i.ytimg.com/vi/aIWrFNDKQ6o/maxresdefault.jpg" onClick="document.getElementById('Scott').play()"></img>
  <img class="click" src="https://yashparghi.files.wordpress.com/2012/03/marge-be-not-proud-3.png" onClick="document.getElementById('Bart').play()"></img>
  <img class="click" src="http://static.guim.co.uk/sys-images/Film/Pix/pictures/2014/10/10/1412955145643/Michael-Keaton-in-Batman-014.jpg" onClick="document.getElementById('Batman').play()"></img>
  <img class="click" src="http://s3.amazonaws.com/rapgenius/filepicker%2FBusm2ZXzRBOMeS5JBeaV_605-quagmire-wallpaper-family-guy-wallpaper.jpg" onClick="document.getElementById('Quagmire').play()"></img>
  <img class="click" src="http://www.wall-mag.com/wp-content/uploads/2012/05/mortal-kombat-parodie.jpg" onClick="document.getElementById('FinishHim').play()"></img>
  <img class="click" src="http://www.zeldadungeon.net/Zelda05/Walkthrough/01/1_Deku10_Large.jpg" onClick="document.getElementById('Zelda').play()"></img>
  <img class="click" src="http://hilobrow.com/wp-content/uploads/2012/08/kirk-khan-shout.jpg" onClick="document.getElementById('Kirk').play()"></img>
  <img class="click" src="http://i2.ytimg.com/vi/ImyydKHz5B0/hqdefault.jpg" onClick="PatrickFunction()"></img>
  <img class="click" src="http://cdn.destructoid.com//ul/260876-MichaelScottNooo.jpg" onClick="document.getElementById('Scott_No').play()"></img>
</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>